/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1660px !important;
  }
}

table {
  border-collapse: collapse;
}
th {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
} */
